<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recuperar Senha</title>
</head>
<body>
    <h1>Recuperar Senha</h1>
    <form class="form" method="POST">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email(size=30) }}
        {{ form.enviar }}
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
